*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-size: medium;
    font-family: sans-serif;
    color: #4B5563;
}

article {
    padding-top: 100px;
}

article#myProjectsHeading {
    margin-bottom: 50px;
}

.centeredContent {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#introDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.introImage {
    text-align: center;
    padding-top: 70px;
}

div#myProjectsDiv {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.projectImages {
    padding-left: 100px;
}

div#skillsList {
    padding-left: 40px;
}

footer {
    background-color: #E5E7EB;
    margin-top: 50px;
}

footer div#contactDiv {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer div#siteCredits {
    background-color: #9CA3AF;
    height: 70px;
    color: antiquewhite;
}

h1 {
    font-size: 3.0rem;
}

nav#tabs {
    display: inline;
}

section.paddedSection {
    margin-left: 40px;
    margin-right: 40px;
}

section.paddedSection div#myProjectsDiv article#medizorgArticle {
    padding-right: 100px;
}

section.twoItemFlex {
    display: grid;
    grid-template-columns: 50% 50%;
}